{{ 'section-question.css' | asset_url | stylesheet_tag }}

<div class="question__row page-width">
    {%- for block in section.blocks -%}
    {%- case block.type -%}
    {%- when 'heading' -%}
    <div class="question__title">
      <{{ block.settings.tag }}>{{ block.settings.heading | escape }}</{{ block.settings.tag }}>
    </div>
    {%- when 'text' -%}
      <div class="question__text">
        {{ block.settings.content }}
      </div>
    {%- endcase -%}
{%- endfor -%}
</div>

{% schema %}
{
  "name": "t:sections.question.name",
  "tag": "section",
  "class": "section question",
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.question.blocks.heading.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.question.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "tag",
          "label": "Tag",
          "options": [
            {
              "value": "h1",
              "label": "h1"
            },
            {
              "value": "h2",
              "label": "h2"
            },
            {
              "value": "h3",
              "label": "h3"
            }
          ]
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.question.blocks.text.name",
      "settings": [
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.question.blocks.text.settings.text.label"
        }
      ]
    }
  ]
}
{% endschema %}